<a href="https://colab.research.google.com/github/ssudheerrao/test/blob/master/ppp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
def ssd():
  print('sudheer python')

ssd()

sudheer python

In [15]:
def ssr_new(a1,a2):
  print(a1,"ssr")

ssr_new('hi','how')

hi ssr

In [27]:
def ssr_new1(*a1):
  print('sssd',a1)
ssr_new1('hi','how','are')

sssd ('hi', 'how', 'are')

In [38]:
def ssr_new1(**a1):
  print('sssd',a1["see"])

ssr_new1(se='aa',see='bb',sed='cc')

sssd bb

In [39]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [46]:
def ss_fuc(sss):
  for i in sss:
    return(i*2)

ss_fuc(['ss','ssr'])

'ssss'

In [48]:
def ss_method(aa):
  pass

In [58]:
def tri_recursion11(k):
  if(k > 0):
    result = k + tri_recursion11(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion11(6)

Recursion Example Results
1
3
6
10
15
21

21

In [60]:
def tri_sse(k):
  if(k > 0):
    result = k + tri_sse(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_sse(3)

Recursion Example Results
1
3
6

6

In [63]:
def ssr_ide(a1,a2):
  if a1>a2:
    return a1
  else:
        return a2

ssr_ide(1,10)

10

In [65]:
def ssr_add(a1,a2):
  print( a1+a2)

ssr_add(10,12)

22

In [68]:
def printme( str ):
   "This prints a passed string into this function"
   print (str)

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [83]:
def ss_list(a1):
  a1.append([1,2,3])
  ##list=list_1.append(a1)
  print('elements are',a1)

ss_list([4,5,6])

elements are [4, 5, 6, [1, 2, 3]]

In [91]:
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

f=factorial(1)
print ("factorial of 5 is ",f)

def factorial(n): 
      
    # single line to find factorial 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);

f=factorial(2)
print ("factorial of 5 is ",f)

factorial of 5 is  1
factorial of 5 is  2

In [94]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [95]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [103]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)
    print("Hello my age is " , abc.age)


p1 = Person("John", 36)
p1.myfunc()

Hello my name is John
Hello my age is  36

In [104]:
p1.age = 40

In [105]:
del p1.age

In [106]:
del p1