<a href="https://colab.research.google.com/github/ssudheerrao/test/blob/master/ppp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ssd():
  print('sudheer python')

ssd()

sudheer python

In [ ]:
def ssr_new(a1,a2):
  print(a1,"ssr")

ssr_new('hi','how')

hi ssr

In [ ]:
def ssr_new1(*a1):
  print('sssd',a1)
ssr_new1('hi','how','are')

sssd ('hi', 'how', 'are')

In [ ]:
def ssr_new1(**a1):
  print('sssd',a1["see"])

ssr_new1(se='aa',see='bb',sed='cc')

sssd bb

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def ss_fuc(sss):
  for i in sss:
    return(i*2)

ss_fuc(['ss','ssr'])

'ssss'

In [ ]:
def ss_method(aa):
  pass

In [ ]:
def tri_recursion11(k):
  if(k > 0):
    result = k + tri_recursion11(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion11(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def tri_sse(k):
  if(k > 0):
    result = k + tri_sse(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_sse(3)

Recursion Example Results
1
3
6

6

In [5]:
def ssr_ide(a1,a2):
  if a1>a2:
    return a1
  else:
   return a2

ssr_ide(1,10)

10

In [ ]:
def ssr_add(a1,a2):
  print( a1+a2)

ssr_add(10,12)

22

In [ ]:
def printme( str ):
   "This prints a passed string into this function"
   print (str)

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [ ]:
def ss_list(a1):
  a1.append([1,2,3])
  ##list=list_1.append(a1)
  print('elements are',a1)

ss_list([4,5,6])

elements are [4, 5, 6, [1, 2, 3]]

In [ ]:
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

f=factorial(1)
print ("factorial of 5 is ",f)

def factorial(n): 
      
    # single line to find factorial 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);

f=factorial(2)
print ("factorial of 5 is ",f)

factorial of 5 is  1
factorial of 5 is  2

In [ ]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)
    print("Hello my age is " , abc.age)


p1 = Person("John", 36)
p1.myfunc()

Hello my name is John
Hello my age is  36

In [ ]:
p1.age = 40

In [ ]:
del p1.age

In [ ]:
del p1

In [25]:
class person:
  pnmae='sudheer'
  def __init__(self,age,weight):
    self.age=age
    self.weight=weight
  def out_ss(self):
    print("ss age",self.age)
    print('ss weight',self.weight)
    print("ss age",self.pnmae)

p1=person(33,85)
p1.out_ss()
p1.pnmae

ss age 33
ss weight 85
ss age sudheer

'sudheer'

In [48]:

try:
  a=2
  b=0  
  #print('sum of two',a/b)
  c=int(input('enter value'))
except ValueError as e:
  print('value error')  
except ZeroDivisionError as e:
  print('zero division error')
except Exception as e:
  print('not possible', e)    
finally:
  print('official end')

print('end')

enter value10
official end
end

In [49]:
import pandas as pd
from google.colab import files 
uploaded = files.upload()

Saving sss.csv to sss.csv

In [153]:
import io 
df = pd.read_csv(io.BytesIO(uploaded['sss.csv'])) 
print(df)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2       NaN
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5       NaN
15              4.9   67938.0
16              5.1   66029.0
17              5.3       NaN
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1       NaN
22              7.9  101302.0
23              8.2       NaN
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [106]:
df[df.isnull().any(axis=1)]

    YearsExperience  Salary
7               3.2     NaN
14              4.5     NaN
17              5.3     NaN
21              7.1     NaN
23              8.2     NaN

In [111]:
df_null=df[df.isnull()]
df[df_null]

    YearsExperience  Salary
7               NaN     NaN
14              NaN     NaN
17              NaN     NaN
21              NaN     NaN
23              NaN     NaN

In [115]:
df[df.isnull().T.any()]

    YearsExperience  Salary
7               NaN     NaN
14              NaN     NaN
17              NaN     NaN
21              NaN     NaN
23              NaN     NaN

In [133]:
df.dropna(axis=0,inplace=True)
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
15              4.9   67938.0
16              5.1   66029.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
22              7.9  101302.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [144]:
df.fillna(df.mean(),inplace=True)
df

    YearsExperience     Salary
0               1.1   39343.00
1               1.3   46205.00
2               1.5   37731.00
3               2.0   43525.00
4               2.2   39891.00
5               2.9   56642.00
6               3.0   60150.00
7               3.2   74774.44
8               3.2   64445.00
9               3.7   57189.00
10              3.9   63218.00
11              4.0   55794.00
12              4.0   56957.00
13              4.1   57081.00
14              4.5   74774.44
15              4.9   67938.00
16              5.1   66029.00
17              5.3   74774.44
18              5.9   81363.00
19              6.0   93940.00
20              6.8   91738.00
21              7.1   74774.44
22              7.9  101302.00
23              8.2   74774.44
24              8.7  109431.00
25              9.0  105582.00
26              9.5  116969.00
27              9.6  112635.00
28             10.3  122391.00
29             10.5  121872.00

In [155]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# transform the dataset
transformed_values = imputer.fit_transform(df.values)
transformed_values

array([[1.100000e+00, 3.934300e+04],
       [1.300000e+00, 4.620500e+04],
       [1.500000e+00, 3.773100e+04],
       [2.000000e+00, 4.352500e+04],
       [2.200000e+00, 3.989100e+04],
       [2.900000e+00, 5.664200e+04],
       [3.000000e+00, 6.015000e+04],
       [3.200000e+00, 7.477444e+04],
       [3.200000e+00, 6.444500e+04],
       [3.700000e+00, 5.718900e+04],
       [3.900000e+00, 6.321800e+04],
       [4.000000e+00, 5.579400e+04],
       [4.000000e+00, 5.695700e+04],
       [4.100000e+00, 5.708100e+04],
       [4.500000e+00, 7.477444e+04],
       [4.900000e+00, 6.793800e+04],
       [5.100000e+00, 6.602900e+04],
       [5.300000e+00, 7.477444e+04],
       [5.900000e+00, 8.136300e+04],
       [6.000000e+00, 9.394000e+04],
       [6.800000e+00, 9.173800e+04],
       [7.100000e+00, 7.477444e+04],
       [7.900000e+00, 1.013020e+05],
       [8.200000e+00, 7.477444e+04],
       [8.700000e+00, 1.094310e+05],
       [9.000000e+00, 1.055820e+05],
       [9.500000e+00, 1.169690e+05],
       [9.600000e+00, 1.126350e+05],
       [1.030000e+01, 1.223910e+05],
       [1.050000e+01, 1.218720e+05]])

In [154]:
df.values

array([[1.10000e+00, 3.93430e+04],
       [1.30000e+00, 4.62050e+04],
       [1.50000e+00, 3.77310e+04],
       [2.00000e+00, 4.35250e+04],
       [2.20000e+00, 3.98910e+04],
       [2.90000e+00, 5.66420e+04],
       [3.00000e+00, 6.01500e+04],
       [3.20000e+00,         nan],
       [3.20000e+00, 6.44450e+04],
       [3.70000e+00, 5.71890e+04],
       [3.90000e+00, 6.32180e+04],
       [4.00000e+00, 5.57940e+04],
       [4.00000e+00, 5.69570e+04],
       [4.10000e+00, 5.70810e+04],
       [4.50000e+00,         nan],
       [4.90000e+00, 6.79380e+04],
       [5.10000e+00, 6.60290e+04],
       [5.30000e+00,         nan],
       [5.90000e+00, 8.13630e+04],
       [6.00000e+00, 9.39400e+04],
       [6.80000e+00, 9.17380e+04],
       [7.10000e+00,         nan],
       [7.90000e+00, 1.01302e+05],
       [8.20000e+00,         nan],
       [8.70000e+00, 1.09431e+05],
       [9.00000e+00, 1.05582e+05],
       [9.50000e+00, 1.16969e+05],
       [9.60000e+00, 1.12635e+05],
       [1.03000e+01, 1.22391e+05],
       [1.05000e+01, 1.21872e+05]])