<a href="https://colab.research.google.com/github/ssudheerrao/test/blob/master/ppp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ssd():
  print('sudheer python')

ssd()

In [ ]:
def ssr_new(a1,a2):
  print(a1,"ssr")

ssr_new('hi','how')

In [ ]:
def ssr_new1(*a1):
  print('sssd',a1)
ssr_new1('hi','how','are')

In [ ]:
def ssr_new1(**a1):
  print('sssd',a1["see"])

ssr_new1(se='aa',see='bb',sed='cc')

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def ss_fuc(sss):
  for i in sss:
    return(i*2)

ss_fuc(['ss','ssr'])

In [ ]:
def ss_method(aa):
  pass

In [8]:
def tri_recursion11(k):
  if(k > 0):
    result = k + tri_recursion11(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion11(3)

Recursion Example Results
1
3
6

6

In [10]:
def tri_sse(k):
  if(k > 0):
    result = k + tri_sse(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_sse(2)

Recursion Example Results
1
3

3

In [ ]:
def ssr_ide(a1,a2):
  if a1>a2:
    return a1
  else:
   return a2

ssr_ide(1,10)

In [ ]:
def ssr_add(a1,a2):
  print( a1+a2)

ssr_add(10,12)

In [ ]:
def printme( str ):
   "This prints a passed string into this function"
   print (str)

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

In [ ]:
def ss_list(a1):
  a1.append([1,2,3])
  ##list=list_1.append(a1)
  print('elements are',a1)

ss_list([4,5,6])

In [12]:
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

f=factorial(1)
print ("factorial of 5 is ",f)

def factorial(n): 
      
    # single line to find factorial 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);

f=factorial(4)
print ("factorial of 5 is ",f)

factorial of 5 is  1
factorial of 5 is  24

In [76]:
l=['a','b','c','d','e','f','g','h','i']
l[6:3:2]

[]

In [4]:
ord('hb')

TypeError: ignored

In [68]:
l=[1,2,3,4,5,6,7,8,9]
l[6:1:-2]

[7, 5, 3]

In [54]:
True=False

SyntaxError: ignored

In [13]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return (recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [21]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return (n + recur_fibo(n-1))

recur_fibo(2)

3

In [7]:
class Person:
  def __init__(self, name='sudheer', age):
    self.name = name
    self.age = age
  
  def print_ss(self):
    print(self.age)

p1 = Person("John", 36)
p1.print_ss()

SyntaxError: ignored

In [1]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)
    print("Hello my age is " , abc.age)


p1 = Person("John", 36)
p1.myfunc()

Hello my name is John
Hello my age is  36

In [ ]:
p1.age = 40

In [ ]:
del p1.age

In [ ]:
del p1

In [ ]:
class person:
  pnmae='sudheer'
  def __init__(self,age,weight):
    self.age=age
    self.weight=weight
  def out_ss(self):
    print("ss age",self.age)
    print('ss weight',self.weight)
    print("ss age",self.pnmae)

p1=person(33,85)
p1.out_ss()
p1.pnmae

In [ ]:

try:
  a=2
  b=0  
  #print('sum of two',a/b)
  c=int(input('enter value'))
except ValueError as e:
  print('value error')  
except ZeroDivisionError as e:
  print('zero division error')
except Exception as e:
  print('not possible', e)    
finally:
  print('official end')

print('end')

In [ ]:
import pandas as pd
from google.colab import files 
uploaded = files.upload()

In [ ]:
import io 
df = pd.read_csv(io.BytesIO(uploaded['sss.csv'])) 
print(df)

    YearsExperience    Salary Class
0               1.1   39343.0     A
1               1.3   46205.0     A
2               1.5   37731.0     A
3               2.0   43525.0     A
4               2.2   39891.0     A
5               2.9   56642.0     A
6               3.0   60150.0     A
7               3.2       NaN   NaN
8               3.2   64445.0   NaN
9               3.7   57189.0   NaN
10              3.9   63218.0     B
11              4.0   55794.0     B
12              4.0   56957.0     B
13              4.1   57081.0     B
14              4.5       NaN     B
15              4.9   67938.0     B
16              5.1   66029.0     B
17              5.3       NaN     B
18              5.9   81363.0     B
19              6.0   93940.0     B
20              6.8   91738.0     B
21              7.1       NaN     B
22              7.9  101302.0     B
23              8.2       NaN     B
24              8.7  109431.0     B
25              9.0  105582.0     C
26              9.5  116969.0     C
27              9.6  112635.0     C
28             10.3  122391.0     C
29             10.5  121872.0     C

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df_null=df[df.isnull()]
df[df_null]

In [ ]:
df[df.isnull().T.any()]

In [ ]:
df.dropna(axis=0,inplace=True)
df

In [ ]:
df.fillna(df.mean(),inplace=True)
df

    YearsExperience     Salary Class
0               1.1   39343.00     A
1               1.3   46205.00     A
2               1.5   37731.00     A
3               2.0   43525.00     A
4               2.2   39891.00     A
5               2.9   56642.00     A
6               3.0   60150.00     A
7               3.2   74774.44   NaN
8               3.2   64445.00   NaN
9               3.7   57189.00   NaN
10              3.9   63218.00     B
11              4.0   55794.00     B
12              4.0   56957.00     B
13              4.1   57081.00     B
14              4.5   74774.44     B
15              4.9   67938.00     B
16              5.1   66029.00     B
17              5.3   74774.44     B
18              5.9   81363.00     B
19              6.0   93940.00     B
20              6.8   91738.00     B
21              7.1   74774.44     B
22              7.9  101302.00     B
23              8.2   74774.44     B
24              8.7  109431.00     B
25              9.0  105582.00     C
26              9.5  116969.00     C
27              9.6  112635.00     C
28             10.3  122391.00     C
29             10.5  121872.00     C

In [ ]:
df.fillna(df.median,inplace=True)
df

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# transform the dataset
transformed_values = imputer.fit_transform(df.values)
transformed_values

In [ ]:
def imput_nan(df,variable,median):
  df[variable+"_median"]=df[variable].fillna(median)

In [ ]:
median=df['Salary'].median()
median

In [ ]:
imput_nan(df,'Salary',median)
df

In [ ]:
df.drop(['Salary_median'],axis=1)
df

In [ ]:
pd.get_dummies(df['Class'])

    A  B  C
0   1  0  0
1   1  0  0
2   1  0  0
3   1  0  0
4   1  0  0
5   1  0  0
6   1  0  0
10  0  1  0
11  0  1  0
12  0  1  0
13  0  1  0
15  0  1  0
16  0  1  0
18  0  1  0
19  0  1  0
20  0  1  0
22  0  1  0
24  0  1  0
25  0  0  1
26  0  0  1
27  0  0  1
28  0  0  1
29  0  0  1

In [ ]:
import numpy as np
df['class_cov']=np.where(df['Class'].isnull(),1,0)
df.drop('Class_cov')

In [24]:
s={'apple':2,'orange':1}
len(s)

2

In [31]:
d={}
for x in enumerate(range(2)):
  print(x[0])
  d[x[0]]=x[1]
  d[x[1]+7]=x[0]
print(d)

0
1
{0: 0, 7: 0, 1: 1, 8: 1}

In [48]:
x="abcdef"
i="d"
while i in x:
  x=x[:-1]
  print(i,end=" ")

d d d

In [47]:
x='abcd'
for i in range(len(x)):
  x[i].upper()
print(x)

abcd

In [43]:
x="abcdef"
i="a"
x=x[:-2]
print(x,end=" ")

abcd

In [22]:
def increment(l,inc):
  i=0
  while i<len(l):
    l[i]=l[i]+inc
    i=i+1

v=[1,2,3]
increment(v,2)
v

[3, 4, 5]

In [ ]:
df.dropna(axis=0,inplace=True)