<a href="https://colab.research.google.com/github/ssudheerrao/test/blob/master/use%20case%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from google.colab import files
uploaded= files.upload()

Saving train.csv to train.csv

In [ ]:
import io
df=pd.read_csv(io.BytesIO(uploaded['train.csv']))
df

In [9]:
df.shape

(73147, 16)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73147 entries, 0 to 73146
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         73147 non-null  object
 1   program_id                 73147 non-null  object
 2   program_type               73147 non-null  object
 3   program_duration           73147 non-null  int64
 4   test_id                    73147 non-null  int64
 5   test_type                  73147 non-null  object
 6   difficulty_level           73147 non-null  object
 7   trainee_id                 73147 non-null  int64
 8   gender                     73147 non-null  object
 9   education                  73147 non-null  object
 10  city_tier                  73147 non-null  int64
 11  age                        45418 non-null  float64
 12  total_programs_enrolled    73147 non-null  int64
 13  is_handicapped             73147 non-null  object
 14  trainee_engagement_rating  73070 non-null  float64
 15  is_pass                    73147 non-null  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 8.9+ MB

In [ ]:
df[df.isnull().any(axis=1)]

In [24]:
df.isnull().sum()

id                               0
program_id                       0
program_type                     0
program_duration                 0
test_id                          0
test_type                        0
difficulty_level                 0
trainee_id                       0
gender                           0
education                        0
city_tier                        0
age                          27729
total_programs_enrolled          0
is_handicapped                   0
trainee_engagement_rating       77
is_pass                          0
dtype: int64

In [41]:
df['gender'].value_counts()

M    39043
F    34104
Name: gender, dtype: int64

In [44]:
df.drop('id',axis=1,inplace=True)
df

      program_id program_type  ...  trainee_engagement_rating  is_pass
0            Y_1            Y  ...                        1.0        0
1            T_1            T  ...                        3.0        1
2            Z_2            Z  ...                        2.0        1
3            T_2            T  ...                        1.0        1
4            V_3            V  ...                        4.0        1
...          ...          ...  ...                        ...      ...
73142        Z_3            Z  ...                        2.0        1
73143        T_2            T  ...                        2.0        1
73144        Y_2            Y  ...                        4.0        1
73145        V_3            V  ...                        2.0        1
73146        Y_4            Y  ...                        4.0        1

[73147 rows x 15 columns]

In [45]:
df_cat=df.select_dtypes(include=['object']).copy()
df_cat

      program_id program_type  ...            education is_handicapped
0            Y_1            Y  ...        Matriculation              N
1            T_1            T  ...  High School Diploma              N
2            Z_2            Z  ...        Matriculation              N
3            T_2            T  ...        Matriculation              N
4            V_3            V  ...  High School Diploma              N
...          ...          ...  ...                  ...            ...
73142        Z_3            Z  ...  High School Diploma              N
73143        T_2            T  ...  High School Diploma              N
73144        Y_2            Y  ...        Matriculation              N
73145        V_3            V  ...  High School Diploma              N
73146        Y_4            Y  ...  High School Diploma              N

[73147 rows x 7 columns]

In [49]:
df['program_type'].value_counts()

Y    22560
T    18458
V    13025
U     7821
Z     6629
X     3328
S     1326
Name: program_type, dtype: int64

In [60]:

# Import label encoder for single column
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df_cat['difficulty_level']= label_encoder.fit_transform(df_cat['difficulty_level']) 
  
df_cat

## Label encoder Multiple columns

columns=['difficulty_level','education']
from sklearn.preprocessing import LabelEncoder
le_dict = { col: LabelEncoder() for col in columns }
for col in columns:
   df_cat[col]= le_dict[col].fit_transform(df_cat[col])

df_cat

      program_id program_type  ...            education  is_handicapped
0            Y_1            Y  ...        Matriculation               N
1            T_1            T  ...  High School Diploma               N
2            Z_2            Z  ...        Matriculation               N
3            T_2            T  ...        Matriculation               N
4            V_3            V  ...  High School Diploma               N
...          ...          ...  ...                  ...             ...
73142        Z_3            Z  ...  High School Diploma               N
73143        T_2            T  ...  High School Diploma               N
73144        Y_2            Y  ...        Matriculation               N
73145        V_3            V  ...  High School Diploma               N
73146        Y_4            Y  ...  High School Diploma               N

[73147 rows x 7 columns]

      program_id program_type test_type  ...  gender education  is_handicapped
0            Y_1            Y   offline  ...       M         3               N
1            T_1            T   offline  ...       F         1               N
2            Z_2            Z    online  ...       M         3               N
3            T_2            T   offline  ...       F         3               N
4            V_3            V   offline  ...       F         1               N
...          ...          ...       ...  ...     ...       ...             ...
73142        Z_3            Z   offline  ...       F         1               N
73143        T_2            T    online  ...       F         1               N
73144        Y_2            Y    online  ...       M         3               N
73145        V_3            V   offline  ...       M         1               N
73146        Y_4            Y    online  ...       F         1               N

[73147 rows x 7 columns]